
@font-face {
    font-family: Amstelvar; 
    font-weight: 100 900;
    font-style: normal;
    font-stretch: 25% 140%;
    src: url(./fonts/Amstelvar-Roman-VF.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Amstelvar; 
    font-weight: 100 900;
    font-style: italic;
    src: url(./fonts/Amstelvar-Italic-VF.ttf) format('truetype');
}

:root {
    --font-family: Amstelvar;
    --amst-font-weight: 360;
    --amst-font-width: 90;
    --amst-optical-size: 14;
}

body {
    max-width: 75rem;
    margin: 1rem auto;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--font-family);
    font-variation-settings: 'wght' var(--amst-font-weight), 'wdth' var(--amst-font-width), 'opsz' var(--amst-optical-size);
    font-size: 100%;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-optical-sizing: auto;
}

.masthead {
    margin-top: 2rem;
    grid-column: 1/3;
}

.eyebrow {
    font-size: 4rem;
    font-style: italic;
    margin-bottom: -1rem;
    padding-left: 8.9rem;
}

.masthead__title {
    margin: .5rem 0 -1rem;
    font-size: 14rem;
    line-height: 90%;
    font-style: italic;
    font-variation-settings: 'wght' 295, 'wdth' 55, 'opsz' 17, 'YOPQ' 96;
}

.content {
    grid-column: 2/3;
}

.content p {
    line-height: 1.4;
}

.content p:first-of-type {
    font-size: 2rem;
    line-height: 1.3;
}

.content blockquote {
    position: relative;
    float: left;
    width: 60%;
    margin-left: -20%;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-style: italic;
}

.content blockquote::before {
    content: "“";
    position: absolute;
    top: -9rem;
    left: -7rem;
    font-size: 30rem;
    color: hsla(0, 0%, 0%, .1);
}